<div class="container">
    <h2>Add Category</h2>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Title</label>
                <input [(ngModel)]="title" type="text" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Description</label>
                <textarea [(ngModel)]="description" rows="5" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <button (click)="onSave()" class="btn btn-success">Save</button>
                <button (click)="onCancel()" style="margin-left: 20px" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>