<div class="container">
    <h1>FlashPe Admin Login </h1>

    <div class="row" style="margin-top: 50px;">
        <div class="col-md-4"></div>
        <div class="form col-md-4">
            <div class="form-group">
                <label for="">User Name</label>
                <input [(ngModel)]="userName" type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input [(ngModel)]="password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button (click)="onLogin()" class="btn btn-success">Login</button>
            </div>
        </div>
    </div>
    
</div>