<h1>List of FlashPe users</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let customer of customers; let i = index">
            <td>{{i + 1}}</td>
            <td>{{customer.firstName}} {{customer.lastName}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone}}</td>
            <td>
                <i (click)="onChangeStatus(customer)" *ngIf="customer.isActive == 1" style="cursor: pointer; color: green" class="glyphicon glyphicon-ok"></i>
                <i (click)="onChangeStatus(customer)" *ngIf="customer.isActive != 1" style="cursor: pointer; color: red" class="glyphicon glyphicon-remove"></i>
            </td>
        </tr>
    </tbody>
</table>