<h1>Product List</h1>

<button (click)="onAdd()" class="btn btn-success">Add</button>

<table class="table table-bordered table-striped" style="margin-top:20px">
    <thead>
        <tr>
            <th>No</th>
            <th>Image</th>
            <th>Title</th>
            <th>MRP</th>
            <th>Price</th>
            <th>Category</th>
            <th>Short Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index">
            <td>{{i + 1}}</td>
            <td><img class="thumbnail" style="height: 70px" src="http://localhost:3000/{{product.thumbnail}}" alt=""></td>
            <td>{{product.title}}</td>
            <td>{{product.mrp}}</td>
            <td>{{product.sellingPrice}}</td>
            <td>{{product.category}}</td>
            <td>{{product.shortDescription}}</td>
            <td>
                <i (click)="onEdit(product)" class="glyphicon glyphicon-pencil action-button"></i>
                <i (click)="onDelete(product)" class="glyphicon glyphicon-trash action-button"></i>
            </td>
        </tr>
    </tbody>
</table>