<h1>Edit Product</h1>

<div class="container" style="margin-top:20px">
    <div class="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Title</label>
                    <input [(ngModel)]="title" type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Category</label>
                    <select [(ngModel)]="category" class="form-control">
                        <option *ngFor="let category of categories" value="{{category.id}}">{{category.title}}</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">MRP</label>
                    <input [(ngModel)]="mrp" type="number" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Selling Price</label>
                    <input [(ngModel)]="sellingPrice" type="number" class="form-control">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Short Description</label>
                    <textarea [(ngModel)]="shortDescription" rows="5" class="form-control"></textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="">Long Description</label>
                    <textarea [(ngModel)]="longDescription" rows="5" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button (click)="onSave()" class="btn btn-success">Save</button>
                    <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="col-md-6">
                <img src="http://localhost:3000/{{productThumbnail}}" alt="">
            </div>
        </div>

    </div>
</div>