<h1>Orders</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Order Id</th>
            <th>Customer</th>
            <th>Address</th>
            <th>Total Price</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let order of orders; let i = index">
            <td>{{i + 1}}</td>
            <td>{{order.id}}</td>
            <td>{{order.customerName}}</td>
            <td>{{order.address}}</td>
            <td>{{order.total}}</td>
            <td>{{order.orderDate}}</td>
            <td>{{getStatusTitle(order.status)}}</td>
            <td><button (click)="onChange(order)" class="btn btn-success">change</button></td>
        </tr>
    </tbody>
</table>