<h1>Category List</h1>

<button (click)="onAddCategory()" class="btn btn-success">Add Category</button>

<table style="margin-top:20px;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>No</th>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of categories;let i = index">
            <td>{{i + 1}}</td>
            <td>{{category.title}}</td>
            <td>{{category.description}}</td>
            <td>
                <i (click)="onEdit(category)" class="glyphicon glyphicon-pencil action-button"></i>
                <i (click)="onDelete(category)" class="glyphicon glyphicon-trash action-button"></i>
            </td>
        </tr>
    </tbody>
</table>