<h1>Edit Order</h1>

<div><strong>Order Id:</strong> {{orderId}}</div>
<div class="form">
    <div class="form-group">
        <label for="">Status</label>
        <select [(ngModel)]="status" class="form-control">
            <option value="1">Open</option>
            <option value="2">Processing</option>
            <option value="3">Processed</option>
            <option value="4">Dispatched</option>
            <option value="5">Out For Delivery</option>
            <option value="6">Delivered</option>
            <option value="7">Cancelled</option>
        </select>
    </div>

    <div class="form-grou">
        <button (click)="changeStatus()" class="btn btn-success" style="margin-left: 10px">Change</button>
    </div>
</div>

